@import url('https://fonts.googleapis.com/css2?family=Besley:wght@500&family=STIX+Two+Math&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Besley:wght@500&family=STIX+Two+Math&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');
*{
font-weight: 400;
  font-family: STIX Two Math;


    padding: 0px;
    margin: 0px;
    font-size: 16px;
}


body { 
    /* font-family: 'Fjalla One', sans-serif; */
  }
  


/* ---------homePage--------- */
/* nav{
 
  color: #17181A;
} */
  #home  {
    height: 100vh;
    color: rgb(7, 7, 7);
  }

  .container-child{
      position: fixed;
      z-index: 0;
      
  }
  nav{
    width: 100vw;
  }

  ul {
    float: right;
    padding: 0.5em 5em 0em 0em;
  }
  a{
    font-size: 1.5em;
    color: #17181A;
    text-decoration: none;
  }
  a:hover{
    color: #783aec;
  }


  
 h1{  
    font-weight: 700;
    padding-top: 1.8em;
    padding-left: 1.2em;
    font-size: 5em;
  }
  
  h2{  
    font-weight: 700;
    font-size: 3em;
    padding-left: 2.7em;

  }
  
  
/* ---------about me a bit---------- */
  #tech{
    
      position: sticky;
    z-index: 3;
    height: 100vh;
    background-color: #17181A;
    
    /* color: #fff; */
  }
  #tech h1{
      color: #fff;
  }

  #tech h2{
    color: #fff;
}


  
/* --------some works---------- */
  #portfolio{
    position: sticky;
      height: 100vh;
    /* height: auto; */
    background: url(./boat1small.jpg) no-repeat center center fixed;
    background-size: cover;
    
    color: #fff;
  
  }
#portfolio h1{  
    color: #17181A;
    font-weight: 700;
    padding-top: 1em;
    padding-left: 1.2em;
    font-size: 5em;
  }
  
  #portfolio a{
    color: #17181A;
    font-weight: 700;
    font-size: 3em;
    padding-left: 2.7em;
    text-decoration: none;
  }
  #portfolio a:hover{
    color: #783aec;
    font-weight: 700;
    font-size: 3em;
    padding-left: 2.7em;
  }

  
 
  
  
/* --------contact-------- */
  #contact{
    position: sticky;
    background: url(./globosmall.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #fff;
    padding-bottom: 2em;
  }
  
  #contact a{
   
    color: #fff;
    font-weight: 700;
    font-size: 3em;
    padding-left: 2.7em;
    text-decoration: none;
  }
  #contact a:hover{
    color: #783aec;
    font-weight: 700;
    font-size: 3em;
    padding-left: 2.7em;
  }

