@import url('https://fonts.googleapis.com/css2?family=Besley:wght@500&family=STIX+Two+Math&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap'); */

html{
  scroll-behavior: smooth;
}

*{
  font-weight: 400;
  font-family: STIX Two Math;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
}



/* ---------homePage--------- */

  #home  {
    height: 100vh;
    color: rgb(7, 7, 7);
  }

  .container-child{
      position: fixed;
      z-index: 0;
      
  }
  nav{
    position:static;
    width: 100vw;
  }

  ul {
    float: right;
    padding: 0.5em 5em 0em 0em;
  }
  a{
    font-size: 1.5em;
    color: #17181A;
    text-decoration: none;
  }
  a:hover{
    color: #783aec;
  }


  
 h1{  
    font-weight: 700;
    padding-top: 1.8em;
    padding-left: 1.2em;
    font-size: 5em;
  }
  
  h2{  
    font-weight: 700;
    font-size: 3em;
    padding-left: 2.7em;
  }

  p{
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-left: 10%;
    margin-right: 25%;
  }
  .title a:last-child{
    font-size: 1em;
    color: #17181A;
    text-decoration: none;
  }
  .title a:last-child:hover{
    
    border-bottom: 1px solid  rgb(0, 0, 0);
  }
  
  
/* ---------tecnologias---------- */
  #tech{
    position: sticky;
    z-index: 3;
    height: 100vh;
    background-color: #17181A;
    color: #fff;

   position: -webkit-sticky;
   position: -moz-sticky;
   position: -o-sticky;
   position: -ms-sticky; 
  }



  #tech ul {
    float: right;
    padding: 0.5em 5em 0em 0em;
  }

#tech a{
  color: #fff;
  font-size: 1.5em;
}
#tech a:hover{
  color: #fff;
  border-bottom: 1px solid #fff ;
}

  #tech h1{
      color: #fff;
  }

  #tech h2{
    color: #fff;
}


  
/* --------some works / porfolio---------- */
  #portfolio{
    position: sticky;
    height: 100vh;
    background: url(./boat1small.jpg) no-repeat center center fixed;
    background-size: cover;
    color: rgb(0, 0, 0);

    position: -webkit-sticky;
   position: -moz-sticky;
   position: -o-sticky;
   position: -ms-sticky; 
  }


#portfolio a:first-child{
  font-size: 1.5em;
  color: rgb(0, 0, 0);
}
#portfolio a:first-child:hover{
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  padding-left: 0px;
  border-bottom: 2px solid rgb(0, 0, 0);
}



#portfolio h1{  
    color: #17181A;
    font-weight: 700;
    padding-top: 1em;
    padding-left: 1.2em;
    font-size: 5em;
  }
  
  #portfolio a{
    color: #17181A;
    font-weight: 700;
    font-size: 3em;
    padding-left: 2.7em;
    text-decoration: none;
  }
  #portfolio a:hover{
    color: #783aec;
    font-weight: 700;
    font-size: 3em;
    padding-left: 2.7em;
  }

  
 
  
  
/* ----------contact---------- */
  #contact{
    position: sticky;
    background: url(./globosmall12.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #fff;

    position: -webkit-sticky;
   position: -moz-sticky;
   position: -o-sticky;
   position: -ms-sticky; 
  }

  #contact a:first-child{
    font-size: 1.5em;
    color: rgb(248, 248, 248);
  }
  #contact a:first-child:hover{
    font-size: 1.5em;
    color: rgb(248, 248, 248);
    padding-left: 0px;
    border-bottom: 2px solid rgb(248, 248, 248) ;
  }
  
  #contact a{
    color: #fff;
    font-weight: 700;
    font-size: 3em;
    padding-left: 2.7em;
    text-decoration: none;
  }
  #contact a:hover{
    color: #783aec;
    font-weight: 700;
    font-size: 3em;
    padding-left: 2.7em;
  }

  #contact li{
    display: none;
  }

/* --------responsive for smaller pc screens------ */

@media only screen and (max-width: 1000px ) {
  
  /* ---------homePage--------- */
  #home ul {
    padding: 0.5em 0em 0em 0em;
    float: none;
    text-align: center;
    font-size: 0.8em;
  }
  h1{  
    padding-left: 0.8em;
    font-size: 4em;
  }
  
  h2{  
    font-size: 2em;
    padding-left: 2.4em;
  }
  /* ---------tecnologias---------- */

  #tech ul {
padding: 0.5em 0em 0em 0em;
    float: none;
    text-align: center;
  }

  /* --------some works / porfolio---------- */
  #portfolio ul {
    float: none;
    padding: 0em 0em 0em 0em;
    text-align: center;
  }

  #portfolio a:first-child{
    padding: 0em 0em 0em 0em;
    font-size: 1.5em;
  }
  #portfolio a:first-child:hover{
    padding: 0em 0em 0em 0em;

    font-size: 1.5em;
    align-content: center;
  }
  

  #portfolio h1{  
    padding-top: 1em;
    padding-left: 1.2em;
    font-size: 4.5em;
  }
  
  #portfolio a{
    font-size: 2.2em;
    padding-left: 2.7em; 
    padding-bottom: 3em;
  }
  #portfolio a:hover{
    font-size: 2.2em;
    padding-left: 2.7em;
  }

/* --------contact-------- */


#contact a{
  color: #fff;
  font-weight: 700;
  font-size: 3.5em;
  padding-left: 1.5em;
  text-decoration: none;
}
#contact a:hover{
  color: #0f002a;
  font-weight: 700;
  font-size: 3.5em;
  padding-left: 0em;
}
#contact h2{
  padding-left: 2.3em;
}


}


/* ----------responsive for phones------------ */
@media only screen and (max-width: 430px ) {
  background-attachment:scroll
 /* ---------homePage--------- */

  a{
  font-size: 0.4em;
}

h1{  
  padding-top: 7vh;
  padding-left: 0.8em;
  font-size: 2em;
}

h2{  
  font-size: 1.4em;
  padding-left: 2.4em;
}
/* ---------tecnologias---------- */
#tech h1{
  padding-bottom: 0.5em;
}
#tech ul {
padding: 0.5em 0em 0em 0em;
  float: none;
  text-align: center;
}

/* --------some works / porfolio---------- */
#portfolio{
  background: url(./boatVertical.jpg) ;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
#portfolio ul {
  float: none;
  padding: 0em 0em 0em 0em;
  text-align: center;
}

#portfolio a:first-child{
  padding: 0em 0em 0em 0em;
  font-size: 1.5em;
}
#portfolio a:first-child:hover{
  padding: 0em 0em 0em 0em;

  font-size: 1.5em;
  align-content: center;
}


#portfolio h1{  
  padding-top: 1em;
  padding-left: 0.5em;
  font-size: 2.5em;
}

#portfolio a{
  font-size: 1.2em;
  padding-left: 1em; 
  padding-bottom: 3em;
}
#portfolio a:hover{
  font-size: 1.2em;
  padding-left: 1em;
}

/* --------contact-------- */
#contact{
  background: url(./globo-vertical2.png) ;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
}


#contact h1{
  padding-top: 20vh;
  text-align: center;
  padding-left: 0px;
  padding-bottom: 0.2em;
}

#contact ul{
  padding: 0px 0px 0px 0px;
  float: none;
  text-align: center;
}
#contact ul:hover{
  padding: 0px 0px 0px 0px;
  float: none;
  text-align: center;
}

#contact a{
  padding-left: 0em;
}
#contact a:hover{
  padding-left: 0em;
}

#contact a:nth-child(1n+2){
display: none;
color: #fff;
font-weight: 700;
font-size: 1em;
padding-left: 0em;

}

#contact h2{
  display: none;
  padding-left: 0px;
}

#contact li{
  display: inline;
  padding-left: 0px;
}
#contact a:hover{
  color: #0f002a;
  font-weight: 700;
  font-size: 3.5em;
  padding-left: 0em;
}

}
